<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<div class="container">
    <h1>Cars</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Model</th>
            <th>Color</th>
            <th>Engine</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${list}">
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.engine}"></td>


        </tr>
        </tbody>
    </table>
</div>
</body>
</html>